li:hover {
    cursor: pointer;
}

li {
    font-size: 1.1rem;
    transition: all .5s;
}

.profile-info {
    display: block;

    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff6732;
}



.profile-avatar {
    width: 100px;
    height: 100px;
    zoom: .5;

    border-radius: 50%;
    box-shadow: 5px 7px 17px -3px rgba(0, 0, 0, .7);
}

.cost {
    font-style: italic;
    white-space: nowrap;
}