<div class="container mt-5">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Edycja twojego profilu</h1>
      <p class="lead">Możesz zmienić swój nick lub avatar!</p>
      <hr class="my-2">
      <p>Wystarczy że załadujesz nowy plik</p>
      <div class="form-group col-4">
        <label for="file">Avatar</label>
        <input type="file"
          class="form-control" name="file" (change)="this.holdAvatar($event.target.files)" id="file" aria-describedby="fileId" placeholder="Twój avatar">
        <small id="fileId" class="form-text text-muted">Załaduj plik z dysku aby zaktualizować avatar</small>
      </div>
      <p class="lead">
        <button class="btn btn-primary" href="#" (click)="this.editAvatar()" role="button">Zmień avatar</button>
      </p>
      <hr class="my-2">
      <p>Lub wpiszesz nową nazwę</p>
      <div class="form-group col-4">
          <label for="name">Twoja nazwa</label>
          <input type="text" class="form-control" [(ngModel)]="model.name" name="name" id="name" aria-describedby="NazwaName"
          [placeholder]="authService.decodedToken?.unique_name | titlecase" [value]="authService.decodedToken?.unique_name | titlecase">
          <small id="NazwaName" class="form-text text-muted">Minimum 4 znaki</small>
        </div>
      <p class="lead">
        <button class="btn btn-primary" role="button" (click)="this.editUserName()">Zmień nazwę</button>
      </p>
    </div>
  </div>
</div>
