<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center">
      <h1>Co chcecie dzisiaj porobić?</h1>
      <p class="lead">Sprawdź co dzisiejszy dzień dla Was przygotował.. Lub dajcie się ponieść wyobraźni!</p>
      <div class="text-center">
        <button *ngIf="!userLoggedIn()" class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Zarejestruj się</button>
        <button class="btn btn-info btn-lg" [routerLink]="['/dowiedz-sie-wiecej']">Dowiedz się więcej</button>
      </div>
    </div>
  
    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
  </div>
  <div class="background-image"></div>