/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.mt-10 {
    margin-top: 10rem !important;
}
.mt-9 {
    margin-top: 8rem !important;
}
.mt-8 {
    margin-top: 7rem !important;
}
.mt-7 {
    margin-top: 6rem !important;
}
.mt-6 {
    margin-top: 5rem !important;
}

.category {

    border-radius: 7px;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgb(63, 81, 181);
    color: white;
    cursor: pointer;
    opacity: .8;
    transition: .5s all;
    margin-bottom: 0.8rem;
}

.header-category {
    background-color: white;
    border: 1px solid rgb(63, 81, 181);
    color: rgb(63, 81, 181);
    padding-left: 0px;
    padding-right: 0px;
    max-width: 135px;
}

.category:hover, .category.active {
    opacity: 1;
}

div.scrollable-y {
    max-height: 700px;
    overflow-y: auto;
}

  body {
      overflow-x: hidden !important;
  }