<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row panels">
    <div class="col-md-5 panel panel-left">
      <div class="row list-group">
        <button *ngFor="let item of categoryList" type="button" class="list-group-item list-group-item-action">
          {{item.name}} 
          <span class="badge badge-primary badge-pill">0</span>
        </button>
      </div>
    </div>
    <div class="col-md-1 panel-management">
    </div>
    <div class="col-md-5 panel panel-right">
      <div class="row list-group">
        <button *ngFor="let item of todoList" type="button" class="list-group-item list-group-item-action">
          <b>{{item.id}}.</b>  {{item.objective}} 
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row mt-8">
  <div class="col-md-12"></div>
</div>