.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar {
    background-color: #000000 !important;
}

.navbar i {
    margin-left: 0.5rem;
    color:white;
    opacity: 0.8;
}

.navbar a:hover i {
 opacity: 1;
}