<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
        <div class="jumbotron dark-blue">
            <h1 class="display-4">Witaj w zarządzaniu!</h1>
            <p class="lead">Dodawanie celu jest bardzo proste, wystarczy kilka minut aby mieć ich mnóstwo, wystarczy wyobraźnia.</p>
            <hr class="my-4">
            <form #addTodoForm="ngForm" (ngSubmit)="addTodo()">
              <div class="form-row ">
                  <div class="form-group col-md-8">
                      <label for="inputObjective">Treść celu</label>
                      <textarea class="form-control" id="inputObjective" [(ngModel)]="todoModel.objective" name="objective" placeholder="Treść, dajcie się ponieść.." rows="2"></textarea>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputCost">Czas trwania (godziny)</label>
                        <input type="number" min="0" class="form-control" [(ngModel)]="todoModel.cost" id="inputCost" name="cost" placeholder="3 godziny">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="submit" id="inputSubmit" class="btn btn-primary" value="Dodaj!">
                    </div>
                </div>
          </form>
          </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12">
      <hr />
    </div>
  </div>
  <app-management-todos-list [todoList]="todoList" (deleteTodo)="deleteTodo($event)" [options]="options"></app-management-todos-list>

</div>

<div class="row mt-10"><div class="col-mg-12"></div></div>