.todo-list li:hover {
    cursor: pointer;
    background-color: rgba(129, 128, 128, 0.13);

}

.todo-list li {
    font-size: 1.1rem;
    transition: all .5s;
}

.todo-list .profile-info {
    display: block;

    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff6732;
}

.todo-list li.header-element {
    background-color: #2b2b2b;
    color: white;
}

.todo-list li.header-element i {
    margin-right: 10px;
}

.todo-list li.header-element {
    cursor: default;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    zoom: .5;

    border-radius: 50%;
    box-shadow: 5px 7px 17px -3px rgba(0, 0, 0, .7);
}

.todo-list .cost {
    font-style: italic;
}