li.header-element {
    background-color: #2b2b2b;
    color: white;
}

li.header-element i {
    margin-right: 10px;
}
li.header-element {
    cursor: default;
}

.background-image { 
    background: url(../../../assets/pictures/background-1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1rem;
  }